html {
  background: #2C2F33;
}

.webp html {
  background: url('../background1.webp') repeat;
}

.no-webp html {
  background: url('../background1.jpg') repeat;
}

.wrapper > .header {
  background: #cd0000;
  height: 56px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.webp .header {
  background: url("../polygons.webp");
}

.no-webp .header {
  background: url("../polygons.png");
}

.header > .logo-div > picture > .logo {
  height: 50px;
}

.header > .header-nav > a > button {
  background: transparent;
}

.header > .userarea > a > button {
  background-color: transparent;
}

.nuxtBody {
  background-color: #23272a;
}
