img.logo{
    height: 114px;
    margin-top: 0px;
    border-style: none;
}
div#__nuxt {
    overflow: hidden;
}
.header>.header-nav {
    position: absolute;
    top: 11vh;
    left: 0;
    width: 100%;
    background-color: rgb(93, 28, 28);
    padding-right: 100%;
    height: 40px;
}
.wrapper>.header {
    height: 11vh;
    margin-bottom: 0px;
}
.header>.logo-div>.logo {
    height: 9vh;
    top: 7px;
}
.header>.header-nav>a>button {
    border-width: 0;
    padding: 10px 16px !important;
    font-size: 17px;
    height: 40px !important;
    overflow: hidden;
    font-family: Arial;
    white-space: nowrap;
    margin: 0 !important;
    margin-top: 0px !important;
    border-right: 0px solid #fff !important;
	border-left: 0px !important;
}
.header>.userArea>a>button {
    border-width: 0;
    padding: 10px 16px !important;
    font-size: 17px;
    height: 40px !important;
    overflow: hidden;
    font-family: Arial;
    white-space: nowrap;
    margin: 0 !important;
    margin-top: 0px !important;
    position: absolute;
    top: 11vh;
    right: 100px;
	border-right: 0px solid #fff !important;
	border-left: 0px !important;
}
.header>.header-nav>a:hover>button {
    background: #f1f1f1;
    color: black;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-bottom-width: 0px;
}
.header>.userArea>a:hover>button {
    background: #f1f1f1;
    color: black;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-bottom-width: 0px;
}
a.nuxt-link-exact-active.nuxt-link-active {
    background-color: #1f1717;
    color: #f2f2f2 !important;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.nuxtBody {
    background-color: #2f2f2f;
    margin-top: 6%;
}
aside.navigation-drawer.navigation-drawer--fixed.navigation-drawer--open.navigation-drawer--right.navigation-drawer--temporary.theme--dark {
    background-color: #2f2f2f;
}
aside.navigation-drawer.navigation-drawer--fixed.navigation-drawer--open.navigation-drawer--temporary.theme--dark {
    background-color: #2f2f2f;
}
.wrapper>aside {
    margin-top: 6%;
}
.btn__content {
    z-index: 1;
}
@media screen and (max-width: 700px) {
    img.logo {
        display: none;
    }
    .wrapper>.header {
        height: 8vh;
        margin-bottom: 0px;
    }
}
.webp .header {
    background: url(../polygons.webp);
}
img.logo {
    border-style: none;
    height: 64px;
    margin-top: 4px;
}
html {
    background: #2C2F33;
    background: url(https://i.imgur.com/eSuii9Q.jpg);
}
.header>.header-nav>a:first-child>button {
    border-left: 0px solid !important;
}
.header>.header-nav>a>button {
    border-right: 0px solid !important;
}
div#__nuxt {
    overflow: hidden;
}
.header>.header-nav {
    position: absolute;
    top: 11vh;
    left: 0;
    width: 100%;
    background-color: rgb(93, 28, 28);
    padding-right: 100%;
    height: 40px;
}
.wrapper>.header {
    height: 11vh;
    margin-bottom: 0px;
}
.header>.logo-div>.logo {
    height: 9vh;
    top: 7px;
}
.header>.header-nav>a>button {
    border-width: 0;
    padding: 10px 16px !important;
    font-size: 17px;
    height: 40px !important;
    overflow: hidden;
    font-family: Arial;
    white-space: nowrap;
    margin: 0 !important;
    margin-top: 0px !important;
    border-bottom: 0px !important;
}
.header>.userArea>a>button {
    border-width: 0;
    padding: 10px 16px !important;
    font-size: 17px;
    height: 40px !important;
    overflow: hidden;
    font-family: Arial;
    white-space: nowrap;
    margin: 0 !important;
    margin-top: 0px !important;
    position: absolute;
    top: 11vh;
    right: 100px;
    border-bottom: 0px !important;
}
.header>.header-nav>a:hover>button {
    background: #f1f1f1;
    color: black;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-bottom-width: 0px;
    border-bottom: 0px !important;
}
.header>.userArea>a:hover>button {
    background: #f1f1f1;
    color: black;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    border-bottom-width: 0px;
    border-bottom: 0px !important;
}
a.nuxt-link-exact-active.nuxt-link-active {
    background-color: #1f1717;
    color: #f2f2f2 !important;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
.nuxtBody {
    background-color: #2f2f2f;
    margin-top: 6%;
}
aside.navigation-drawer.navigation-drawer--fixed.navigation-drawer--open.navigation-drawer--right.navigation-drawer--temporary.theme--dark {
    background-color: #2f2f2f;
}
aside.navigation-drawer.navigation-drawer--fixed.navigation-drawer--open.navigation-drawer--temporary.theme--dark {
    background-color: #2f2f2f;
}
.wrapper>aside {
    margin-top: 6%;
}
.btn__content {
    z-index: 1;
}
@media screen and (max-width: 700px) {
    img.logo {
        display: none;
    }
    .wrapper>.header {
        height: 8vh;
        margin-bottom: 0px;
    }
}
.webp .header {
    background: url(../polygons.webp);
}
html {
    background: #2C2F33;
    background: url(https://i.imgur.com/eSuii9Q.jpg);
}
.header>.header-nav>a:first-child>button {
    border-left: 0px solid !important;
}
.header>.userArea>a>button {
    border-right: 0px solid #fff !important;
    border-left: 0px solid #fff !Important;
}
